* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-contanier {
  width: 1100px;
  height: 100%;
}
.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cake-card {
  flex-direction: column;
  width: 300px;
  background-color: rgb(117, 7, 7);
  height: 550px;
  margin: 30px 0 0 15px;
  color: white;
  box-shadow:0px 6px 15px rgb(63, 1, 1);
}
.cake-title {
  margin: 8px;
  font-size: 30px;
}
.cake-img {
  width: 250px;
  height: 210px;
  padding: 6 20px;
  margin: 0px 16.6px;
  box-shadow: 0px 20px 21px  rgb(46, 1, 1);
}
.description {
  margin-top: 8px;
  line-height: 20px;
  padding: 10px;
  padding-right: 25px;
}
.cake-des {
  font-size: 17px;
  margin-bottom: 9px;
  padding-right: 10px;
  font-weight: normal;
}
.course-reecipe {
  list-style: square;
  font-size: 15px;
}
.course-reecipe li {
  margin-left: 16px;
}
