body{
    background-attachment: fixed;
    background-color: bisque;
    background-image: url(pic4.png);
    background-size: auto;
    background: position 50px;;
    
}
.navBar{
width: 100%;
background: none;
display: flex;
text-align: center;
justify-content: space-between;
border-radius: 10px;
box-shadow: 5px 7px 9px darkgray;

}

.rightMenu, .leftMenu{
    display: flex;
    justify-content: space-around;
    width: auto;
    align-items: center;
    margin-right: 14px;
    text-decoration: bold;
}
.logoDiv{
    margin-right: 20px;
    width: auto;
    padding: 7px;
    background-color: white;
    display: flex;
    border-radius: 100%;
}
.logoDiv #logo{
    width: 30px;
    height: 20px;
}



.rightMenu li, .leftMenu li{
    text-decoration: none;
    border-radius: 20px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.235);
    box-shadow: 3px 4px 6px darkgray;
    width: 60px;
    list-style: none;
    padding: 3px 10px;
    margin: 0px 3px;
}

.rightMenu a, .leftMenu a{
 color: white;
 text-decoration: none;
 
}

li:hover{
    background: rgb(79, 159, 79);
    
}

.homeCard{
    float: right;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin: 90px 5px 5px 5px;
    padding: 10px 10px;
    box-shadow: aliceblue 1px 1px 3px;
    
}

.homeCard .title{
    margin: 5px 10px 5px 10px ;
    text-align: center;
    padding: auto;
}

